<h1> Sign up </h1>

<% if @user && @user.errors %>
	<% @user.errors.full_messages.each do |message| %>
		<h4><%= message %></h4>
	<% end %>
<% end %>

<form action="/signup" method="POST">
	<label for="username"> Username: </label>
	<input type="text" name="username"></br></br>
	<label for="email"> Email: </label>
	<input type="text" name="email"></br></br>
	<label for="password"> Password: </label>
	<input type="text" name="password"></br></br>
	<input type="submit" value="Sign Up">
</form>